{% extends "base/base.html" %}
{% block content %}
<div class="container" style="padding-top: 45px;">
    <h1 style="text-align: center;">Detail Message</h1>
    <div>
        <a href="{% url 'list_inbox' %}" class="btn btn-warning" style="color: aliceblue; box-shadow: 2px 8px 6px -1px grey "> Back </a>
    </div>
    <div class="row" style="padding-top: 25px;">
        <div class="col-lg-6 col-md-6 col-sm-6" ">
            <form action="{% url 'aes_encript' %}" method="GET" id="aes_card">
                {% csrf_token %}
                <h1>Decript Message</h1>
                <div class="form-group">
                    <label for="">{{form.msg_from.label}}</label>
                    {{form.msg_from}}
                </div>
                <div class="form-group">
                    <label for="">{{form.priv_key.label}}</label>
                    {{form.priv_key}}
                </div>
                <div class="form-group">
                    <label for="">{{form.key_encript.label}}</label>
                    {{form.key_encript}}
                </div>
                <div>
                    {{ntru_form.file}}
                </div>
                <div class="form-group" id="encript_button" style="margin-right: 50%;">
                    <button type="submit" class="btn btn-primary">Decript NTRU</button>
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <form action="{% url 'ntru_encript' %}" method="POST" id="aes_card">
                {% csrf_token %}
                <h1>True Message</h1>
                <div class="form-group">
                    <label for="">{{ntru_form.key.label}}</label>
                    {{ntru_form.key}}
                </div>
                <div class="form-group">
                    <label for="">{{ntru_form.pub_key.label}}</label>
                    {{ntru_form.pub_key}}
                </div>
                <div class="form-group">
                    <label for="">{{ntru_form.priv_key.label}}</label>
                    {{ntru_form.priv_key}}
                </div>
                <div class="form-group" id="encript_button" style="margin-right: 50%;">
                    <button type="submit" class="btn btn-info" style="margin-top: 22px;">Generate Encript Send</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <p>{{aes_form.key.value}}</p>
        
    </div>
</div>
{% endblock content %}